#page--orphanages {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page--orphanages aside {
  width: 440px;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page--orphanages aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page--orphanages aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page--orphanages aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

#page--orphanages aside footer strong {
  font-weight: 800;
}

#page--orphanages .leaflet-container {
  z-index: 5;
}

#page--orphanages .create--orphanages {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background: #15C3D6;

  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page--orphanages .create--orphanages:hover {
  background: #16E7EB;
}


#page--orphanages .map--popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 28px;
  box-shadow: none;
}

#page--orphanages .map--popup .leaflet-popup-content {
  color: #0089A5;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page--orphanages .map--popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: #15C3D6;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

#page--orphanages .map--popup .leaflet-popup-tip-container {
  display: none;
}

#page--orphanages .map--popup .leaflet-popup-content a:hover {
  background: #0089A5;
}